@model  UserDetailsViewModel

<th class="column100" data-column="column2">
    <a asp-controller="Statistics" asp-action="User" asp-route-id="@Model.Id" class="color-table-user">@Model.ShortName</a>
</th>
