<li><a asp-area="" asp-controller="Competition" asp-action="Groups">Groups</a></li>
<li><a asp-area="" asp-controller="Competition" asp-action="Rounds" asp-route-id="1">I Round</a></li>
<li><a asp-area="" asp-controller="Competition" asp-action="Rounds" asp-route-id="2">II Round</a></li>
<li><a asp-area="" asp-controller="Competition" asp-action="Rounds" asp-route-id="3">III Round</a></li>
<li><a asp-area="" asp-controller="Competition" asp-action="Rounds" asp-route-id="4">Final Round</a></li>
