@model IEnumerable<MatchViewModel>
@{
    ViewData["Title"] = "Matches";
}

<h2>List of matches</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="col-sm-1">Date</th>
            <th class="col-sm-4">Home team</th>
            <th class="col-sm-4">Guest team</th>
            <th class="col-sm-2 text-center">Score</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody class="table__body">
        @Html.DisplayForModel()
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}